// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 18px;
    font-weight: normal;
}

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}

a.navbar-brand {
  height: 60px;
}

img {
  height:100%;max-width:100%;
}

a {
    img {
        height:20px;max-width:20px;
    }
}
